04_Materials/
01_SoftWare/02_Firmware/

# Keil / MDK
*.o
*.d
*.crf
*.axf
*.hex
*.map
*.lst
*.dep
*.uvgui.*
*.bak

# CubeMX / build logs
*.build_log.htm

# OS
.DS_Store
Thumbs.db

01_SoftWare/FC/MDK-ARM/FC/
01_SoftWare/FC/build/
01_SoftWare/FC/mx.scratch/
01_SoftWare/FC/.settings/
01_SoftWare/FC/.vscode/
